<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登入頁面</title>
    <link rel="stylesheet" type="text/css" href="/style/login.css" />
</head>

<body>
    <div class="title">歡迎光臨，請輸入帳號密碼</div>
    <div class="container">
        <div class="login-head">登入系統</div>
        <form action="/signin" method="POST">
            <div class="form-elem"><span>帳號</span> <input type="text" name="acct"></div>
            <div class="form-elem"><span>密碼</span> <input type="password" name="pswd"></div>
            <button>登入</button>
        </form>
    </div>
</body>

</html>