body {
    margin: 0px;
    background-color: azure;
}

nav {
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr repeat(4, auto);
    grid-template-rows: 1fr;
}

.page {
    font-weight: bold;
    margin: 10px;
}

.sign {
    margin: 5px;
    margin-right: 10px;
}

.items {
    margin: 10px;
}

.head {
    display: grid;
    grid-template: repeat(5, 20%)/10% 80% 10%;
    height: 300px;
    font-size: 40px;
    background-color: #c1dfce;
    font-weight: bold;
}

.head>div {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.box {
    width: 270px;
    background-color: #c1dfce;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.img_description {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

@media (max-width: 1200px) {
    .content {
        grid-template-columns: 50% 50%;
        width: 90%;
    }
    .box {
        width: 90%;
    }
}

@media (min-width:601px) {
    nav>.sign {
        display: none;
    }
}

@media (max-width: 600px) {
    nav>.items {
        display: none
    }
    .head {
        font-size: 30px;
    }
    .content {
        grid-template-columns: 100%;
        width: 90%;
    }
    .box {
        width: 90%;
    }
}